<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title | default "" }}" />
   <script async data-uid="9d2fbc53bb" src="https://ttunguz.ck.page/9d2fbc53bb/index.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {{- $title := ( .Title ) -}}
   {{- $siteTitle := ( .Site.Title ) -}}
   {{- $sep := ( .Site.Params.seo.titleSeparator | default "•" ) -}}
   {{- $title404 := ( .Site.Params.info.title404 | default $title ) -}}
   <meta name="description" content="{{ .Summary | default "Tomasz Tunguz :  A data-driven blog focused on the most important questions for startups & venture capital." }}">
  <title>  {{ $title }} by @ttunguz </title>   
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4F4YS21RXL"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-4F4YS21RXL');
    </script>

</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap" onload="this.media='all'">
<link rel="stylesheet" href="/css/custom.css">
 

