<div class = "fixed" style="background:white; width:100%">

    <img style="float:right; border-radius:50%; height:75px; width:75px" src="/img/tomasz_profile.jpeg"/>
    <div class="navigation" style="">
        <a href="/" style="text-decoration:none; color:black">Tomasz Tunguz</a>
    </div>
    <p class="navigation_subheader"> 
    Venture Capitalist at Redpoint
    </p>
    <p class="links block font12" style="color:gray">
    <a class="nounderline" href="/about">About</a> /
    <a class="nounderline" href="/office-hours-videos">Office Hours</a> /
    <a href="/categories" class="nounderline"> Categories</a> /
        <a href="https://ttunguz.ck.page/b71fd9a3dd" class="nounderline">Subscribe</a> / 
        <a class="nounderline" href="https://twitter.com/ttunguz">Twitter</a>
    </p>


    <div class="spacer"></div>
</div>
