<div class = "fixed" style="background:white; width:100%">

    <div class="navigation" style="">
        <a href="/" style="text-decoration:none; color:black">Tomasz Tunguz</a>
    </div>
    <p class="" style="font-size:16pt"> 
    Venture Capitalist at <a href="https://theory.ventures" style="text-decoration:none">Theory</a> 
    </p>
    <div class="gray" style="font-family: Roboto Mono; font-size:10pt; padding-top: 0px; color:gray;" >
    <a class="nounderline" href="/about">About</a> /
    <a href="/categories" class="nounderline"> Categories</a> /
        <a href="https://ttunguz.ck.page/b71fd9a3dd" class="nounderline">Subscribe</a> / 
        <a class="nounderline" href="https://twitter.com/ttunguz">Twitter</a>
    </div>


    <div class="spacer"></div>
</div>
